<ion-content>
  <ion-buttons translucent>
    <ion-button routerLink="{{routeHome}}"  class="close-button">
      <ion-icon color="light" name="close-outline" class="scale2"></ion-icon>
    </ion-button>
  </ion-buttons>
 
 
  <div class="logo">
    <div class="c-shape"></div>
    <div class="c-shape reverse"></div>
  </div>

  <div class="outer-circle"></div>
  <div class="outer-circle-2"></div>


    <ion-list>
      <ion-item button *ngFor="let f of storedFileNames" (click)="playFile(f)" detail="false">
        {{ f }}
        <ion-button slot="end" (click)="deleteRecording(f)" fill="clear" color="danger">
<ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
      <span *ngIf="!recording">press and hold</span>
      <span *ngIf="recording">{{durationDisplay}}</span>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" #recordbtn>
            <ion-icon name="mic-outline" color="dark" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>


  
  <music-loading></music-loading>
  <footer [route]="routeHome"></footer>

</ion-content>