.pulse {
    animation: heart-pulse 3s infinite ease-out;
  }
  
  @keyframes heart-pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }