.circle {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(3,152,255,1) 98%, rgba(45,235,253,0.5721638997395833) 100%);
    display: inline-flex !important;
  }